  .ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 900px;
    outline: none;
    padding: 0 0 3px 0;
    z-index: 999999;
}

  .foto {
      width: 100%;
      border-radius: 15px;
      padding: 10px;
  }


  .row {
      overflow-y: auto;
  }
  .divImage {
    height: auto;
    justify-content: center;
    align-items: center;
    
  }
  .divInfo {
    height: auto;
    padding: 0 40px 0 0;
  }
  .divInfo h2{
    color: #484a46;
    padding-bottom: 15px;
    border-bottom: 3px solid #fc0071;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .divInfo p{
    color: #929292;
  }

  .div-icon-close {
    display: flex;
    justify-content: flex-end;
    color: rgb(194, 194, 194);
  }
  
  .icon-close {
    cursor: pointer;
    font-size: 25px;
    margin: 10px
  }

  .div-button-back {
    display: flex;
    justify-content: flex-end;
  }

 .button-back {
  background: transparent;
  border: 2px solid #fc0071 ;
  color: #fc0071;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
 }

 .button-back:hover {
  border: 2px solid #1b007b ;
  color: #1b007b;
 }

  @media screen and (max-width:768px) {
    .divInfo {
      padding: 0 40px 0 40px;
      margin-top: 20px;
    }
  } 

  @media screen and (max-width:450px) {
    .modal {
      max-height: 860px;
      border-radius: 0;
    }
  } 

